html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #faf4f2;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
}

body {
  color: #3b3735;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-family: "Archivo Expanded", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 18px;
}

input {
  color: rgba(141, 141, 141, 0.5529411765);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.mb-6 {
  margin-bottom: 60px !important;
}

.mb-7 {
  margin-bottom: 70px !important;
}

.sign-up, .sign-in {
  display: inline-block;
  padding: 15px 25px;
  color: #ffffff;
  font-weight: 500;
}

.sign-in {
  border: 1px solid #ffffff;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.sign-in:hover {
  background-color: #ffffff;
  border: 1px solid transparent;
  color: #3b3735;
}

.btn {
  display: inline-block;
  padding: 15px 60px;
  border-radius: 30px;
}
.btn--primary {
  background-color: #e76f51;
  transition: all 0.3s ease;
}
.btn--primary:hover {
  background-color: rgb(227.9090909091, 92.4545454545, 58.5909090909);
}
.btn--outline {
  background-color: transparent;
  border: 1px solid #e76f51;
  color: #e76f51;
  font-weight: 500;
}
.btn--outline:hover {
  background-color: #e76f51;
  color: #ffffff;
  border: 1px solid transparent;
}

.scroll-up {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  color: #e76f51;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  top: -33%;
}

.feature-box {
  cursor: default;
  padding: 60px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease;
}
.feature-box:hover {
  transform: translateY(-15px) scale(1.02);
}
.feature-box .feature-image {
  width: 80px;
  height: 80px;
}
.feature-box .feature-title {
  margin-top: 23px;
  margin-bottom: 12px;
}
.feature-box .feature-text {
  font-size: 16px;
}

.card {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}
.card__header {
  position: relative;
}
.card__header::before {
  content: "";
  border-radius: 20px;
  background-color: rgba(59, 55, 53, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.card__header img {
  border-radius: 20px;
  display: block;
}
.card__header > img {
  height: 160px;
}
.card__like-btn {
  background-color: #ffffff;
  border-radius: 14px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.card__price {
  color: #e76f51;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  width: 140px;
  padding: 10px 0;
  margin: 0 auto;
  transform: translateY(-20px);
  border-radius: 14px;
}
.card__text {
  margin-top: 12px;
  margin-bottom: 25px;
  font-size: 16px;
}
.card__link {
  display: inline-block;
  font-weight: 500;
  color: rgba(141, 141, 141, 0.5529411765);
  background-color: rgba(230.25, 230.25, 230.25, 0.5529411765);
  padding: 10px 30px;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.card__link:hover {
  background-color: #e76f51;
  color: #ffffff;
}

.form__subtitle {
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: 30px;
}
.form__box {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 5px 10px 30px rgba(59, 55, 53, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__input {
  outline: none;
  width: 100%;
  padding: 15px;
  background-image: url("/image/email.png");
  background-repeat: no-repeat;
  background-position: 15px 50%;
  text-indent: 30px;
}
.form__input:focus {
  background-image: none;
  text-indent: 0;
}
.form__submit {
  width: 50px;
  height: 50px;
  background-color: #e76f51;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgba(231, 111, 81, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.form__submit:hover {
  background-color: rgb(227.9090909091, 92.4545454545, 58.5909090909);
}
.form__submit img {
  width: 25px;
}

.nav {
  color: #cccccc;
}
.nav .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav__logo {
  display: inline-block;
  background-color: #e76f51;
  margin-right: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__logo img {
  width: 44px;
  border-radius: 50%;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav__item {
  margin-right: 15px;
}
.nav__link {
  padding: 5px;
  transition: color 0.3s ease;
}
.nav__link:hover {
  color: #ffffff;
}
.nav__right {
  margin-left: auto;
}

.header {
  border-radius: 0 0 200px 200px;
  padding-top: 60px;
  padding-bottom: 250px;
  background-image: linear-gradient(to top, rgba(59, 55, 53, 0.4), rgba(59, 55, 53, 0.4)), url("/image/PB0cLGphA7iDFyK.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__text-box {
  width: 40%;
  margin: 250px auto 0 auto;
  color: #ffffff;
  text-align: center;
}
.header__title {
  font-size: 80px;
  margin-bottom: 60px;
}
.header__link {
  margin-top: 30px;
}

.footer {
  background-color: #f8e1d8;
  padding-top: 100px;
  padding-bottom: 60px;
  border-radius: 200px 200px 0 0;
  font-size: 16px;
}
.footer .container {
  position: relative;
}
.footer__text-box {
  width: 45%;
}
.footer__list-box {
  width: 50%;
}
.footer__list-box li:not(:last-child) {
  margin-bottom: 10px;
}
.footer__dowload {
  width: 100%;
}
.footer__dowload .dowload-link {
  display: inline-block;
  margin-right: 10px;
}
.footer__copy-right {
  width: 100%;
  text-align: center;
}
.footer .dowload-link img {
  width: 120px;
}
.footer .dowload-link:nth-child(3) img {
  width: 154px;
  position: relative;
  top: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row [class^=col-] {
  margin-bottom: 30px;
}
.row .col-1-of-2 {
  width: calc((100% - 30px) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 30px) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 30px) / 3 + 30px);
}
.row .col-1-of-4 {
  width: calc((100% - 2 * 30px) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 30px) / 4 + 30px);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 30px) / 4 + 2 * 30px);
}

.feature {
  transform: translateY(-30%);
}

.explore {
  margin-top: 50px;
  text-align: center;
}
.explore__title {
  width: 40%;
  margin: 0 auto;
}
.explore__image-title {
  width: 120px;
}

.touch {
  margin-top: 150px;
}
.touch__box {
  background-color: #f8e1d8;
  border-radius: 20px;
  padding: 40px;
  align-items: center;
  background-image: url("/image/abstract-shape.png");
  background-repeat: no-repeat;
  background-position: 20% 60%;
  box-shadow: 5px 30px 50px rgba(59, 55, 53, 0.05);
}
.touch .form {
  width: 50%;
}
.touch__image {
  width: 30%;
}

.footer {
  margin-top: 150px;
}

/*# sourceMappingURL=main.css.map */
