.sign-up, .sign-in {
    display: inline-block;
    padding: 15px 25px;
    color: $color-white;
    font-weight: 500;
}
.sign-in {
    border: 1px solid $color-white;
    border-radius: 30px;
    @include transition;
    &:hover {
        background-color: $color-white;
        border: 1px solid transparent;
        color: $color-secondary;
    }
}