.feature {
    transform: translateY(-30%);
    @include responsive(desctop) {
        transform: translateY(-20%);
    }
    @include responsive(phone) {
        transform: translateY(-15%);
    }
}
.explore {
    margin-top: 50px;
    @include responsive(phone) {
        margin-top: 20px;
    }
    text-align: center;
    &__title {
        width: 40%;
        @include responsive(lg-desctop) {
            width: 60%;
        }
        @include responsive(phone) {
            width: 100%;
        }
        margin: 0 auto;
    }
    &__image-title {
        width: 120px;
    }
}

.touch {
    margin-top: 150px;
    @include responsive(lg-desctop) {
        margin-top: 100px;
    }
    &__box {
        background-color: $color-bg-2;
        border-radius: $border-radius;
        padding: 40px;
        @include responsive (tab) {
            padding: 60px 40px;
            // flex-direction: column;
            // background-image: none;
        }

        align-items: center;
        background-image: url("/image/abstract-shape.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -400px 60%;
        box-shadow: 5px 30px 50px rgba($color-secondary, .05);
        @include responsive(desctop) {
            background-position: -170px 60%;
        }
        
    }
    .row {
        @include responsive(tab) {
            flex-wrap: wrap-reverse;
            text-align: center;
        }
    }
    .form {
        width: 50%;
        @include responsive(tab) {
            width: 100%;
        }
    }
    &__image {
        width: 30%;
        @include responsive(tab) {
            width: 100%;
            margin-bottom: 50px;
            margin-top: -100px;
        }
    }
}

.footer {
    margin-top: 150px;
}

